WindowsVVC/Win32
WindowsVVC/x64
WindowsVVC/arm64
MacOSVVC/vv*
LinuxVVC/arm*
LinuxVVC/x*
AndroidVVC/arm*
AndroidVVC/x*
FreeBSDVVC/vv*
HaikuVVC/vv*

uvg266/Windows/Win32
uvg266/Windows/x64
uvg266/Windows/i386
uvg266/macOS/uvg266
uvg266/Linux/arm*
uvg266/Linux/x*
uvg266/FreeBSD/uvg266
uvg266/Haiku/uvg266
uvg266/Solaris/uvg266

OpenVVC/dectest
OpenVVC/dectest.exe
OpenVVC/arm64
OpenVVC/armv7
OpenVVC/x64
OpenVVC/x86

[Oo]bj/
[Bb]in/
vvdecWebPlayer/
vvenc/
vvdec/
[Ii]nstall/
[Bb]uild/
buildvvc-temp/

.vscode